
.heading{
    text-transform: uppercase;
    font-weight: 600;   
     color:black ;
}
.sub_heading{
    text-transform: capitalize;
    color: rgb(162, 158, 158 ,0.7);
    font-weight: 600;
}
.breadcrumb-item{
    color: rgba(123, 119, 119, 0.7);

}